.sort {
  &-label {
    font-size: 20px;
    font-weight: 800;
    color: chocolate;
    margin-left: 32px;
  }

  &-select {
    margin-left: 10px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: cornsilk;
    }
  }
}
